/* https://pixabay.com/photos/fashion-girl-model-woman-cute-2766734/ */

.section1-container {
  display: flex;
  background-image: url("../img/sect1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100dvh;
  /* background; */

  align-items: center;
}

.title-container {
  max-width: 50vh;
  
  margin-left: 18dvh;
  /* background-color: rgba(255, 255, 255, 0.082); */
  /* padding: 20px 30px; */
  border-radius: 10px;
  /* height: 100dvh; */
  text-align: center;
  text-wrap: balance;

}

.section-title {
  font-family: Playfair Display;
  font-size: 6dvh;
  font-weight: bold;
  color: white;
  line-height: 7dvh;
  margin-bottom: 5dvh;
  letter-spacing: -0.1dvh;
  text-shadow: -0.5dvh 0.5dvh 1px #000000fd;
  
}



.section-description {
  /* max-width: 60vh; */
  color: white;
  font-size: 2.5dvh;
  margin-bottom: 7vh;
  font-family: Archivo;
  font-weight: 200;
  text-shadow: -0.1dvh 0.3dvh 1px #000000fd;

}



@media screen and (max-width: 540px) {

  .section1-container {
    justify-content: center;
  }
  .title-container {
    margin: 0;
    max-width: 50vh;
    
  }
}


.shop-now-button {
  background-color: #00000059;
  border: 0.35dvh dotted white;

  /* border-radius: 5px; */
  color: white;
  font-weight: 400;
  padding: 3dvh 14.9dvh;
  font-size: 2.5dvh;
  cursor: pointer;
  text-shadow: -0.1dvh 0.3dvh 1px #000000fd;

  backdrop-filter: blur(5px);
  transition: background-color 0.2s, border 0.2s , border-radius 0.2s;
}

.shop-now-button:hover {
  background-color: #003f2da9;
  border: 0.35dvh solid white;
  border-radius: 5px;
}

.shop-now-button:active {
  background-color: #003f2de1;
}


