* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a, a:visited,  a:active, a:hover,  a:focus,  a:link {
  text-decoration: none;
  color: black;
}
/* https://www.pexels.com/photo/hanged-clothes-on-a-clothes-rack-4641825/ */
body {
  padding-top: 200px;
  background-image: url("../AboutUsImg/aboutusbg.jpg");
  background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}