
.header {

  /* margin-bottom: 100px; */
  position: absolute;
  top: 18px;
  left: 22px;
  z-index: 100;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* height: x; */
  margin-bottom: 30px;
  
}

a.home {
  margin-top: 7px;
  margin-left: 10px;
  color: black;
  font-size: 12px;

}

.LOGO {
  font-family: Playfair Display-italic;
  color: #0F0F0F;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
 
}
.rilla {
  font-family: Playfair Display-italic;
  color: #005B41;
}


