.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  padding: 50px 11.5%;
  line-height: 30px;
  background-color: var(--main-color);
  color: var(--font-main-color);
}

@media screen and (max-width: 900px) {
  .section2 {
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px;
    row-gap: 50px;
  }
  
}

.section2 h1 {
  font-weight: 700;
  margin-bottom: 20px;
}
.section2 p {
  font-size: 16px;
  font-weight: 400;
}