.bg-photo {
  background-image: url("../AboutUsImg/aboutusbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
  justify-content: start;
 
  display: flex;
}

.about-us-container {
  margin-top: 15dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* padding: 90px 30px 0 30px; */
  
}
.year {
  font-size: 2.5dvh;
  text-align: center;
  letter-spacing: 2dvh;
  /* text-shadow: -1px 4px 1px rgb(255, 255, 255); */
  text-shadow: -0.2dvh 0.6dvh 1px rgb(255, 255, 255);
  margin-bottom: 7dvh;
  color: var(--ternary-color);
}

.about-us-content {
  line-height: 6dvh;
  /* line-height: 70px; */
  font-size: 6.8dvh;
  
  font-weight: 800;
  color: var(--ternary-color);
  max-width: 80%;
  text-align: center;
  text-shadow: -0.5dvh 0.9dvh 1px rgba(255, 255, 255, 0.6);
  letter-spacing: 1.5dvh;
}

@media screen and (max-width: 900px) {
  .about-us-content {
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
  }
  .about-us-container .about-us-button {
    font-size: 13px;
    padding: 15px 10%;
  }
  .year {
    font-size: 10px;
  }
}

.about-us-content span {
  color: #ffffff;
  text-shadow: -0.5dvh 0.9dvh 1px rgba(0, 0, 0, 0.6);

}

.explore-button {
  color: white;
  /* background-color: blue; */
  /* margin: 20px 10%; */
  pointer-events: none;
}

.about-us-button {
  margin: 7dvh;
  background-color: #00000059;
  border: 0.35dvh dotted white;

  /* border-radius: 5px; */
  color: white;
  font-weight: 400;
  padding: 3dvh 14.9dvh;
  font-size: 2.5dvh;
  cursor: pointer;
  text-shadow: -0.1dvh 0.3dvh 1px #000000fd;

  backdrop-filter: blur(5px);
  transition: background-color 0.2s, border 0.2s , border-radius 0.2s;
}

.about-us-button:hover {
  background-color: #003f2da9;
  border: 0.35dvh solid white;
  border-radius: 5px;
}

.about-us-button:active {
  background-color: #003f2de1;
}

.about-us-button:focus, .about-us-button:active, .about-us-button:visited, .about-us-button:link {
  color: white;
}
