.put-in-middle-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: center;
  align-items: center; */

  /* height: 80vh; */
  margin: 10px;
  /* flex: 1; */
  
  gap: 20px;
  /* background-color: lightblue;  */
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 10px; */
  padding-bottom: 20px;

  width: 230px;
  flex: 1;
  cursor: pointer;

  transition: box-shadow 0.15s, transform 0.5s;
  /* background-color: lightblue; */
}


.product-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-container:hover .shirt-picture {
  transform: scale(1.1);
}


.trash-icon-container {
  position: absolute;
  top: -14px;
  right: -14px;
  border-radius: 15px;
  z-index: 10;
}

.trash-icon {
  font-size: 20px;
  margin-top: 4px;

  padding: 10px 12px;
  border-radius: 50%;

  background-color:black;
  /* border: 3px solid black; */

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  transition: padding 0.15s, background-color 0.15s, border 0.15s;
}

.trash-icon:hover {
  padding: 12px 14px;
  border-radius: 50%;
}

.trash-icon:active {
  background-color: #005B41;
}

.trash-icon .fi {
  color: white;
}

.trash-icon:active .fi {
  color: white;
}


.product-picture-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shirt-picture {
  width: 240px;
  height: 300px;
  object-fit: cover;
  transition: box-shadow 0.15s, transform 0.5s;
}

.shirt-picture:hover {
  transform: scale(1.1);
}

.sale-percent {
  position: absolute;
  right: 0;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;

  flex: 1;
  font-size: 10px;
  padding: 5px;
}

.tshirts-tag-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tshirts-tag {
  font-size: 10px;
  font-weight: 600;
  color: grey;
  cursor: pointer;
}

.tshirt-name-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.tshirt-name {
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.tshirt-price-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.original-price {
  color: rgba(128, 128, 128, 0.8);
  text-decoration: line-through;
  font-size: 14px;
}

.sale-price {
  color: grey;
  font-size: 14px;
}

.edit-product-container {
  margin: 10px 0 10px 0;
}

.edit-product {
  text-decoration: none;
  color: black;
}