.footer-container {
  /* margin-top: 50px; */
  display: flex;
  background-color: #1b1d24;
  

  padding: 20px 160px;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 900px) {
  .footer-container {
    /* padding: 20px auto; */
    flex-direction: column;
    gap: 20px;
    row-gap: 50px;
    padding: 20px 0;
    justify-content: start;
    
  }
  .link-container {
    text-align: center;
    margin: 0;
  }
  .soc-med-links {
    width: auto;

  }
  .soc-med-links-container {
    margin-bottom: 30px;
  }
}



.link-container-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}
.link-container{
  /* margin: 20px 70px 20px 0; */
}
.link-container a {
  display: flex;
  color: white;
  margin: 15px 0;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 13px;
  text-wrap: nowrap;
}

.soc-med-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

} 

.soc-med-links .fi{
  color: white;
  background-color: white;
  padding: 10px 10px 5px 10px;
  color: #1b1d24;
  font-size: 20px;
  margin-right: 10px;
}