.section1 {
  /* height: 600px; */
  margin: 0 5%;
}

.title {
  font-family: Archivo, Roboto, arial;
  font-size: 20px;
  color: black;
  padding: 40px 0 20px 0;
  text-align: center;
}

.title span {
  color: #005B41;
}

.filter-container {
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  height: 10%;
  
}

.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border: none;
  padding: 10px 30px;
  
  margin: 10px;
  cursor: pointer;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  background-color: rgb(243, 243, 243);

  transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
}
.fi-rr-menu-burger {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 700;
}

.filter-button-text {
  font-size: 15px;
}

.result-num {
  color: grey;
  font-size: 17px;
  margin-left: 10px;
}

.main-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  padding: 20px 0 20px 0;
  gap: 20px;
  row-gap: 50px;
  
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  transition: box-shadow 0.7s, transform 0.7s;
  padding-bottom: 20px;
  
  cursor: pointer;
}




.product-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-container:hover .product-picture1,
.product-container:hover .product-picture {
  transform: scale(1.2);
}

.product-picture-container {
  display: flex;
  justify-content: center;
  height: 260px;
  width: 270px;
  overflow: hidden;
  
  position: relative;
}

.product-picture-container .sale-percent {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;

  font-size: 12px;
  padding: 5px;
}

.product-picture-container .tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;

  background-color: rgba(0, 0, 0, 0.678);
  color: white;

  opacity: 0;
  transition: opacity 0.5s;
}

.product-container:hover .tooltip {
  opacity: 1;
}


.product-picture,.product-picture1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60%;
  cursor: pointer;
  
  transition: transform 0.7s;
}

.product-picture1 {
  object-position: 50%;
}


.Tshirts-tag-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Tshirts-tag {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  cursor: pointer;
}

.tshirt-name-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.tshirt-name {
  font-weight: bold;
  color: black;
  cursor: pointer;

}

.tshirt-price-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.original-price {
  color: rgba(128, 128, 128, 0.8);
  text-decoration: line-through;
}

.sale-price {
  color: grey;
}

