.section1 {
  /* height: 600px; */
  margin: 0 5%;
  
}

.title {
  font-family: Archivo, Roboto, arial;
  font-size: 20px;
  color: black;
  padding: 40px 0 20px 0;
  text-align: center;
}

.title span {
  color: #005B41;
}

.filter-container {
  display: flex;
  align-items: center;
  padding: 0 4.8% 0 4.8%;
  height: 10%;
  
}

.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border: none;
  padding: 10px 30px;
  
  margin: 10px;
  cursor: pointer;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  background-color: rgb(243, 243, 243);

  transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
}
.fi-rr-menu-burger {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 700;
}

.filter-button-text {
  font-size: 15px;
}

.result-num {
  color: grey;
  font-size: 17px;
  margin-left: 10px;
}

.main-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  padding: 20px 0 20px 0;
  gap: 20px;
  row-gap: 50px;
  margin: 0  5%;
  align-items: center;
  justify-items: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  
  transition: box-shadow 0.7s, transform 0.7s;
  padding-bottom: 20px;
  
  cursor: pointer;
}




.product-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-container:hover .product-picture1,
.product-container:hover .product-picture {
  transform: scale(1.2);
}

.product-picture-container {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 300px;
  overflow: hidden;
  
  position: relative;
}

.product-picture-container .sale-percent {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;

  font-size: 12px;
  padding: 5px;
}

.product-picture-container .tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;

  background-color: rgba(0, 0, 0, 0.678);
  color: white;

  opacity: 0;
  transition: opacity 0.5s;
}

.product-container:hover .tooltip {
  opacity: 1;
}


.product-picture,.product-picture1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60%;
  cursor: pointer;
  
  transition: transform 0.7s;
}

.product-picture1 {
  object-position: 50%;
}


.Tshirts-tag-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Tshirts-tag {
  font-size: 12px;
  font-weight: 600;
  color: grey;
  cursor: pointer;
}

.tshirt-name-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.tshirt-name {
  font-weight: bold;
  color: black;
  cursor: pointer;

}

.tshirt-price-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.original-price {
  color: rgba(128, 128, 128, 0.8);
  text-decoration: line-through;
}

.sale-price {
  color: grey;
}


@media (max-width: 500px) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-products-container {
    grid-template-columns: 1fr;
    width: 270px;
  }
  .product-container {
    justify-content: center;
  }
}




@media (min-width: 501px) and (max-width: 750px) {
  .main-products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1300px) {
  .main-products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1301px) {
  .main-products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pages {
  margin: 6dvh 0 3dvh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
}

.page-nav {
  background-color: white;
  font-size: 2dvh;
  cursor: pointer;
  padding: 1dvh 2dvh;
  font-weight: 600;
  border: inset 0.1dvh rgba(0, 0, 0, 0.13);
  border-radius: 2px;
  border-style: solid;
  transition: border 0.3s;
}

.page-nav:hover {
  border: inset 0.1dvh rgba(0, 0, 0, 0.788);
  border-style: dashed;
}

.page-nav:active {
  border: inset 0.1dvh rgba(0, 0, 0, 0.788);
  border-style: solid;
}

.act {
  border: inset 0.1dvh rgba(0, 0, 0, 0.788);
  border-style: solid;
  border-radius: 0;
}

.act:hover {
  border: inset 0.1dvh rgba(0, 0, 0, 0.788);
  border-style: solid;
  border-radius: 0;
}

.arrows {
  display: flex;
  gap: 1dvh;
  align-items: center;
}
.arrows .fi {
  margin-top: 0.5dvh;
  font-size: 2dvh;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 11dvh;
  left: 0;
  background-color: rgb(255, 255, 255);
  /* background-color: violet; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5dvh;
}

.sidebar p {
  font-size: 2.5dvh;
  font-weight: 600;
  /* margin-left: 3dvh; */
  margin-bottom: 2dvh;
}


.sidebar .closebtn {
  position: absolute;
  top: 4dvh;
  right: 2dvh;
  font-size: 4dvh;
  /* margin-left: 50px; */
}

input[type="range"] {
  /* Removes default styles */
  -webkit-appearance: none;
  appearance: none;
  
  /* Define track styles */
  width: 100%;
  height: 0.3dvh;
  background: #ddd;
  border-radius: 5px;
  margin-bottom: 3dvh;
  border-radius: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* Define thumb styles */
  -webkit-appearance: none;
  appearance: none;
  width: 2dvh;
  height: 2dvh;
  background: #005B41;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar-div {
  margin-left: 3dvh;
  margin-right: 3dvh;
}

.price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4dvh;
  align-items: center;
  padding-bottom: 4dvh;
  border-bottom: 0.05dvh solid rgba(128, 128, 128, 0.507);
}

.price-container .min-price, .price-container .max-price
, .price-container .category-name {
  font-size: 2dvh;
  font-weight: 400;
}

.sidebar-div .color-category{
  font-size: 2dvh;
  color: grey;
  font-weight: 500;
}
#categoryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2dvh;
  /* background-color: rgb(214, 14, 14); */
}
.sidebar-div .category-name {
  font-size: 2dvh;
  font-weight: 400;
  margin-left: 0.5dvh;
  margin-bottom: 0;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

