* {
  font-family: Archivo, Roboto, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 9.5dvh 0 0 0;
}

main {
  padding: 5dvh 0;
  background-color: rgb(243, 243, 243);
  
 
}


a, a:visited,  a:active, a:hover,  a:focus,  a:link {
  text-decoration: none;
  color: black;
}