
/* https://www.pexels.com/photo/woman-looking-at-the-map-3935702/ */
.section1 {
  /* margin: 3% 6%; */
  padding: 6% 4%;;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 6%;
  font-family: Archivo;
  

  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../ContactUsImg/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}




.info-container {
  margin-top: 15px;
  padding: 0 20%;
}
.info-container h1 {
  font-family: Playfair Display-italic;
  font-size: 3.5rem;
  font-weight: 900;
  color: #0F0F0F;
  letter-spacing: 4px;
  margin-bottom: 5px;
  
}

.info-container span {
  font-family: Playfair Display-italic;

  color: #005B41;
}

.info-container p {
  line-height: 30px;
  margin: 25px;
  font-weight: 500;
}

p.address, p.email {
  /* font-family: archivo; */
  font-weight: 900;
  letter-spacing: 2px;
}

@media screen and (max-width: 820px) {
  .section1 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .info-container p {
    text-align: center;
    margin: 8px;
    text-wrap: balance;
  }
  .info-container h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  
  .info-container p {
    font-size: 14px;
  }
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
}
.map {
  height: 410px;
  flex: 1;
  border: 20px solid white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}