.put-in-middle-container {

  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 80vh; */
  margin: 10px;
  flex: 1;

  /* background-color: lightblue;  */
}

.WHOLE-STATISTICS-CONTAINER{
  display: flex;
  flex-direction: column;
  
  justify-content: center;

  /* CHANGE WHEN APPLYING HEADER TO FLEX TO AUTO ADJUST */
  /* width: 500px; */  
  flex: 2;
  /* height: 80vh; */

/* background-color: lightpink; */
  /* margin-bottom: 10px; */


  /* background-color: lightblue; */
}

.MAIN-BOXES-CONTAINER,
.MAIN-GRAPH-CONTAINER {
  display: flex;
  flex-direction: column;
}

.MAIN-BOXES-CONTAINER {
  margin-bottom: 20px;
}

.THREE-BOXES-CONTAINER {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.BOX {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 149px;
  flex: 1;

  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  cursor: pointer;


  transition: box-shadow 0.15s;
}

.BOX:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.BOX:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title-column-container,
.total-amount-column-container,
.description-column-container {
  display: flex;
  flex-direction: column;
}

.title-row, 
.total-amount-row,
.description-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0 15px 0 15px;
  /* background-color: lightpink; */
}

.title-row {
  gap: 10px;
}

.title-row .fi {
  font-size: 25px;
  color: black;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.total-amount {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.revenue-column-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* background-color: lightpink; */
}

.revenue-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.REVENUE-CHART {
  font-weight: 600;
}

.this-year-btn {
  border: 1px solid #005B41;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;

  transition: background-color 0.15s, color 0.15s;
}

.this-year-btn:hover {
  background-color: #005B41;
  color: white;
  border: 1px solid #005B41;
  padding: 5px 10px;
}

.this-year-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.this-year-btn .fi {
  font-size: 20px;
  color: black;
  margin-top: 5px;
  transition: color 0.15s;
}

.this-year-btn:hover .fi {
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

/* .angle-small-down {
  height: 20px;
  width: 20px;
  object-fit: cover;
} */

.MAIN-graph-column-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
  /* CHANGE TO FLEX WHEN ADDING HEADER TO AUTO ADJUST */
  flex: 1;
}

.MAIN-graph-row-container {
  display: flex;
}


.graph-row-label-container {
  display: flex;
  justify-content: center;

  /* height: 200px; */
  height: auto;
  width: 50px;
  /* background-color: green; */
}

.graph-label {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-bottom: 25px;
}

.label {
  color: grey;
  font-size: 16px;
}

.graph-row-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  /* width: 200px; */
  /* CHANGE TO FLEX WHEN ADDING HEADER TO AUTO ADJUST */
  flex: 1;
  margin-left: 10px;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  flex: 1;
}

.percentage1 {
  height: 100px;
  width: 80%;
  background-color: #005B41;
}

.percentage2 {
  height: 250px;
  width: 80%;
  background-color: #005B41;
}

.percentage3 {
  height: 50px;
  width: 80%;
  background-color: #005B41;
}

.percentage4 {
  height: 60px;
  width: 80%;
  background-color: #005B41;
}


.percentage5 {
  height: 80px;
  width: 80%;
  background-color: #005B41;
}

.percentage6 {
  height: 150px;
  width: 80%;
  background-color: #005B41;
}

.percentage7 {
  height: 160px;
  width: 80%;
  background-color: #005B41;
}

.percentage8 {
  height: 210px;
  width: 80%;
  background-color: #005B41;
}

.month {
  font-size: 16px;
}

.separator {
  display: flex;
  /* flex: 1; */
  height: 450px;
  width: 0;
  border: 1px solid black;
  margin: 20px;
}

.WHOLE-TRANSACTIONS-CONTAINER {
  display: flex;
  flex-direction: column;

  /* CHANGE TO FLEX WHEN ADDING HEADER TO AUTO ADJUST */
  flex: 1;

  /* width: 500px; */
  /* height: 74vh; */

  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  /* background-color: lightblue; */
  /* margin-top: 20px; */

  padding: 20px 20px 20px 20px;
}

.transaction-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  margin-bottom: 10px;
}

.transactions {
  font-size: 20px;
  font-weight: 600;
}

.column-ROW-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex: 1; */
  margin: 10px 0 10px 0;
}

.column-ROW-container, .column p {
  font-size: 12px;
}

.column-name {
  /* width: auto; */
  display: flex;
  flex: 1;
  justify-content: center;
  /* background-color: lightblue; */
}

.column-status{
  /* width: 150px; */
  display: flex;
  flex: 1;
  justify-content: center;
  /* background-color: lightpink; */
}

.column-date {
  /* width: 150px; */
  display: flex;
  flex: 1;
  justify-content: center;
  /* background-color: lightsalmon; */
}

.column-amount {
  /* width: 150px; */
  display: flex;
  flex: 1;
  justify-content: center;
  /* background-color: grey; */
}

.separator-line {
  /* display: flex; */
  /* flex: 1; */
  height: 0px;
  width: auto;
  border: 1px solid black;
  margin: 10px 0 10px 0;
}

.customer-ROW-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 10px 0 10px 0;
}

.customer-name-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-right: 15px; */
}

.customer-name,
.customer-status,
.customer-date, 
.customer-amount {
  font-size: 12px;
}

.customer-picture {
  height: 30px;
  width: 30px;
  object-fit: cover;

  border-radius: 15px;
}

.customer-status-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.customer-date-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.customer-amount-container{
  display: flex;
  flex: 1;
  justify-content: center;
}

.view-more-link {
  text-decoration: none;
  color: black;
}

.view-more {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  flex: 1;

  border: 1px solid #005B41;
  border-radius: 5px;
  margin: 20px 0 0px 0;

  transition: background-color 0.15s;
}

.view-more:hover {
  background-color: #005B41;
  color: white;
}