.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.LOGO {
  font-family: Playfair Display-italic;
  color: #0F0F0F;
  font-size: 30px;
  font-weight: 700;
  /* font-style: italic; */
  cursor: pointer;
}
.rilla {
  font-family: Playfair Display-italic;
  color: #005B41;
}

.header {
  padding: 1px 22px 1px 22px;
}