.section1 {
  
  margin: 0 10%;
  
  display: flex;
  /* background-color: lightseagreen; */
}
/* parents */
.sidebar-container {
  /* background-color: lightblue; */
  width: 30%;
}

.profile-pic-container {
  background-color: white;
  margin: 5% 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.profile-pic-container img {
  background-color: black;
  padding: 1%;
  width: 20dvh;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10%;
}

.profile-pic-container .name  {
  font-weight: 500;
  margin-bottom: 5%;
}

.profile-pic-container .location {
  color: gray;
  font-size: 15px;
} 

.sidebar-links-act div {
  background-color: white;
  width: 90.4%;
  padding: 5% 10%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 3%;
  border: 2px solid #005B41;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 10px;
   color: #005B41;
}

.sidebar-links-una div {
  background-color: white;
  width: 90.4%;
  padding: 5% 10%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 3%;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 10px;
  
  
}

.sidebar-links-una div:hover {
  background-color: white;
  width: 90.3%;
  padding: 5% 10%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2%;
  
  box-sizing: border-box;
  border:  2px dashed #005B41;
  
  display: flex;
  align-items: center;
  gap: 10px;

}

.sidebar-links-una div:active {
  background-color: white;
  width: 90.3%;
  padding: 5% 10%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 2%;
  
  box-sizing: border-box;
  border:  2px solid #005B41;
  
  display: flex;
  align-items: center;
  gap: 10px;

}

.sidebar-links-out div {
  background-color: #005B41;
  width: 90.4%;
  padding: 5% 10%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.sidebar-links-out div:hover {
  background-color: #084433;
  width: 90.4%;
  padding: 5% 10%;
  box-shadow: 0 2 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.sidebar-links-out div:active {
  background-color: #006649;
  width: 90.4%;
  padding: 5% 10%;
  box-shadow: 0 2 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}


/* parents */
.info-container {
  background-color: White;
  flex: 1;
  margin-top: 1.5%;
  padding: 3% 3% 0 3%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.info-container h1 {
  font-weight: 500;
  font-size: 15px;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin: 2% 0 5% 0;
}

.box {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.box .fi {
  background-color: #005B41;
  color: white;
  padding: 9% 10%;
  border-radius: 50%;
  font-size: 20px;
  margin-top: 10% ;
}

.box h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 5%;
}

.box p {
  font-size: 15px;
  color: gray;
  margin-bottom: 10%;
}

.personal-info-container {
  margin-top: 10%;
}
.personal-info-container h1 {
  font-weight: 600;
  font-size: 20px;

}

.row-container {
  margin-top: 5%;
  margin-bottom: 3.5%;
}

.put-text {
  width: 100%;
  padding: 2% 5%;
  /* background-color: red; */
  border: 1px solid lightgray;
  border-radius: 1px;

}

.put-text:focus {
  border: 1px solid #005B41;
  outline: none;
}

.pi-row {
  display: grid;
  grid-template-columns: 15% 50%;
  margin-bottom: 2%;
  align-items: center;
}

.pi-row div {
  font-weight: 300;
}

.pi-row p {
  font-weight: 300;
  color: grey;
}

.personal-information {
  position: relative;
}

.edit {
  position: absolute;
  background-color: #005B41;
  color: white;
  border: none;
  padding: 1.5% 3%;
  top: 0;
  right: 0;
  

  transition: box-shadow 0.2s, background-color 0.2s;
}

.edit:hover {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.edit:active {
  background-color: #084433;
}

.save, .cancel {
  margin-top: 3%;
  background-color: #005B41;
  color: white;
  border: none;
  padding: 1.5% 3%;
  margin-right: 2%;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.cancel {
  background-color: lightgray;
  color: black;
}

.save:hover, .cancel:hover {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.save:active {
  background-color: #084433;
}

.cancel:active {
  background-color: gray;
}