
.put-in-middle-container {
  /* display: flex; */
  
  /* height: 80vh; */
  margin: 10px;
 
  /* background-color: lightblue;  */
  border-radius: 5px;
  padding: 6dvh 4dvh;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.first-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2dvh;
}
.first-row .left-part {
  display: flex;
  align-items: center;
  gap: 2dvh;
}
.title {
  font-size: 2.8dvh;
  font-weight: bold;
  /* margin-bottom: 10px; */
}
.user-number {
  font-size: 2.5dvh;
  color: #666;
  font-weight: 600;
}
.right-part {
  display: flex;
  gap: 2dvh;
  align-items: center;
}

.first-row button {
  padding: 1dvh 2dvh;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1dvh;
}

.first-row button .fi {
  font-size: 2dvh;
  margin-top: 0.56dvh;
}

.first-row .add-user-btn {
  background-color: #005B41;
  color: white;
  padding-right: 4dvh;
}





.table-top {
  display: grid;
  grid-template-columns: 3.2fr 2fr 2fr 2fr 5fr;
  font-weight: 400;
  background-color: black;
  color: white;
  padding: 1.5dvh;
  border-radius: 5px 5px 0 0;
  
}



.table-row {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
  border-bottom: #d3d3d3 0.2dvh solid;
 
  padding: 1.5dvh;
  gap: 2dvh;
  font-size: 2dvh;
  align-items: center;
}



.table-container img {
  width: 6dvh;
  height: 6dvh;
  object-fit: cover;
  border-radius: 50%;
}

.act {
  color: rgb(105, 216, 61);
}

.table-row .act, .table-row .offline {
  font-weight: 700;
}

.offline {
  color: red;
}

.table-row p {
  font-weight: 500;
}

.table-row .name {
  font-weight: 700;
  
}
.email {
  color: #666;
}
.fi-rs-star {
  margin-top: 0.3dvh;
  color: orange;
}
.table-row .admin {
  background: linear-gradient(135deg, #ffff00, #ffae00, #ff0000);
  color: white;
  font-weight: 500;
  padding: 0.5dvh 1dvh;
  width: fit-content;
  border-radius: 100px;
  background-color: #f7d202;
}
.mod {
  background: linear-gradient(45deg, #ff18b2, #8c00ff, #00e1ff);
  color: white;
  padding: 0.5dvh 1dvh;
  width: fit-content;
  border-radius: 100px;
  background-color: #d608ff;
}

.user {
  color: white;
  padding: 0.5dvh 2dvh;
  width: fit-content;
  border-radius: 100px;
  background-color: #81ad85;
}

.reset {
  box-sizing: border-box;
  border-radius: 3px;
  border: 0.2dvh solid #0077ff;
  background-color: none;
  padding: 0.8dvh 1dvh;
  color: #0077ff;
}

.reset:hover {
  background-color: #0077ff;
  color: white;
}

.reset:active {
  background-color: #005ac0;
}

.edit {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  background-color: black;
  padding: 0.85dvh 1.2dvh;
  color: white;
}

.edit:hover {
  background-color: #333;
}

.edit:active {
  background-color: #666;
}

.table-row .ban {
  font-weight: 800;
  color: orange;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.table-row .ban:hover {
  color: red;
}

.table-row .ban:active {
  color: #ff6969;
}

.delete {
  color: #666;
  text-align: center;
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.delete:active {
  color: #ff6969;
}